@import "./Base/base";
@import "./Helpers/variables";
@import "./Layouts/header.scss";
@import "./Layouts/carousel.scss";
@import "./Layouts/teacher.scss";
@import "./Layouts/register.scss";
@import "./Layouts/footer.scss";

body {
  background-image: url(../img/yellow_top_wave_01.png);
  background-position: top -50px left -170px;
  background-repeat: no-repeat;
}










